## Step 1: Import libraries 
### In this step we import libraries whivh is used in case study

In [ ]:
import numpy as np # NumPy is the fundamental package for scientific computing 
import pandas as pd # Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language
import seaborn as sns # Seaborn is a library for making statistical graphics.

## Step 2: Import data set
### In this step we import the dataset from open sources in the form of  ( csv,online link )etc.

In [ ]:
df=pd.read_csv("kashti.csv")
df1=df
df2=df

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.describe

# Simple Math opertaror

In [ ]:
(df['age']+12).head(10)

# Missing value 
## Finding where is the exactly missing value in the data .in our data the missing value is in *age* ,* deck*and*embark_town*

In [ ]:
df.isnull().sum()

# Mtehod 01:- Drop NA method
## In reality, majority of the datasets collected contain missing values due to manual errors, unavailability of information, etc. Although there are different ways for handling missing values, sometimes you have no other option but to drop those rows from the dataset. A common method for dropping rows and columns is using the pandas `dropna` function.In this method we dropp all missing values  from the data after the droping the missing values the shape of the data is reduceed.

In [ ]:
print(df.shape)
df.dropna(subset=['deck'], axis=0, inplace= True)

In [ ]:
df.isnull().sum()

# To Drop NA values

In [ ]:
df1=df.dropna()
# to Update main datafram
df1.isnull().sum()

In [ ]:
df1.shape

In [ ]:
df2.shape

#   Finding the average mean for the age

In [ ]:
df2.isnull().sum()

In [ ]:
mean=df2['age'].mean()
mean

### Replacing the missing value with the mean of the data  and also update the data set
### Since the mean() method is called by the age column, therefore value argument had the mean of the age column values. Then ‘NaN’ values in the age column got replaced with the value we got in the ‘value’ argument i.e. the mean of the age column.

In [ ]:
df2['age']=df2['age'].replace(np.nan,mean)

In [ ]:
df2.isnull().sum()

In [ ]:
df2.dtypes

In [ ]:
df2['deck'].replace(['A','B','C','D','E','F','G'],[0,1,2,3,4,5,6],inplace=True)

In [ ]:
df2

In [ ]:
df2.dtypes

In [ ]:
df2['deck']=df2['deck'].replace(np.nan,mean)

In [ ]:
df2.isnull().sum()

In [ ]:
df3=df.dropna()
# to Update main datafram
df3.isnull().sum()

In [ ]:
df3.shape

In [ ]:
df3.dtypes

In [ ]:
df3['deck']=df3['deck'].astype('int64')
df3.dtypes

# here we convert our age of year in to days

In [ ]:
df3['age']=df3['age']*365
df3.head(5)

# Re naming the column

In [ ]:
df3.rename(columns={'age':'age in days'},inplace=True)
df3.head()

# Data Normalization

In [ ]:
df3.head()

In [ ]:
df4=df3[['age in days','fare']]
df4.head()

# Mothd of Normalization 
## What is data normalization?
### Normalization is the process of organizing data in a database. This includes creating tables and establishing relationships between those tables according to rules designed both to protect the data and to make the database more flexible by eliminating redundancy and inconsistent dependency
- ##  simple feature scaling 
    - ### x(new)=x(old)/x(max)
- ## min and max method 
- ## z-score (standard score) -3 to +3
- ## log transfarmation

In [ ]:
df4.head()

  # Simple feature scaling

### Scaling to a range is a good choice when both of the following conditions are met:

### You know the approximate upper and lower bounds on your data with few or no outliers.
### Your data is approximately uniformly distributed across that range.
### A good example is age. Most age values falls between 0 and 90, and every part of the range has a substantial number of people.

# Method no 01
## x(new)=x(old)/x(max)

In [ ]:
df4['fare']=df4['fare']/df4['fare'].max()
df4['age in days']=df4['age in days']/df4['age in days'].max()
df4.head()

# Method No 02
## Min Max Method
### This method rescales the range of the data to [0,1]. In most cases, standardization is used feature-wise as wel

In [ ]:
df4['fare']=(df4['fare']-df4['fare'].min())/(df4['fare'].max()-df4['fare'].min())
df4['age in days']=(df4['age in days']-df4['age in days'].min())/(df4['age in days'].max()-df4['age in days'].min())
df4.head()

# Method No 03
## Z-score (standard score) -3 to +3

### I used to falsely think this method somehow yields a standard Gaussian result. In fact, standardization does not change the type of distribution: 
### This transformation sets the mean of data to 0 and the standard deviation to 1. In most cases, standardization is used feature-wise

In [ ]:
df4['fare']=(df4['fare']-df4['fare'].mean())/df4['fare'].std()
df4['age in days']=(df4['age in days']-df4['age in days'].mean())/df4['age in days'].std()
df4.head()

# Method No 04
## Log transfarmation
### The logarithmic is a strong transformation that has a major effect on distribution shape. This technique is, as the square root method, oftenly used for reducing right skewness. Worth noting, however, is that it can not be applied to zero or negative values.

In [ ]:
df4['fare']=np.log(df4['fare'])
df4['age in days']=np.log(df4['age in days'])
df4.head()

# What is Bining 
### Binning is the process of transforming numerical variables into categorical counterparts. Binning improves accuracy of the predictive models by reducing the noise or non-linearity in the dataset. Finally, binning lets easy identification of outliers, invalid and missing values of numerical variables.
- Grouping of the values into samaller number of the values (bin)
- Convert numeric into categories (Adult,Child,Old)or 1-18,19-40 etc
- To have the better understanding of groups 
  - low vs mid vs high price

In [ ]:
boat=df
boat

In [ ]:
boat1=boat[['age']]
boat1.head()

In [ ]:
bins=np.linspace(min(boat1['age']),max(boat1['age']),18)
age_groups=['a','b','c']
boat1['age']=pd.cut(boat1['age'],bins,labels='age_group')

In [ ]:
boat1

In [ ]:
kashti=pd.read_csv("kashti.csv")
kashti.head()

# Converting the catagorical variable to dummies varable 
- easy to use to computing the catagorical values 
- male and female (0,1)

In [ ]:
kashti_dummies=pd.get_dummies(kashti,columns=['sex'])

In [ ]:
kashti_dummies.head()